workflow (2).json
{
  "name": "skill-mastery-blueprint-ai",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Your Skill Mastery Blueprint ",
        "formDescription": "Tell us one skill you want to conquer - tech or non-tech - and your AI mentor will email you a complete mastery roadmap.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name"
            },
            {
              "fieldLabel": "Your Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Which skill do you want to master?",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Where are you and how serious are you?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Just starting, casual pace (3-5 hrs/wk)"
                  },
                  {
                    "option": " Intermediate, all in (20+ hrs/wk)"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "a42856dc-f8b3-4074-8abc-7e2d05943261",
      "name": "On form submission",
      "webhookId": "3230aa13-513e-4464-be3e-480af722307b"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a world-class mentor who can teach ANY skill - technical or non-technical - and turn a complete beginner into an expert. Produce a beautifully designed, exceptionally detailed mastery roadmap as an HTML email with visual charts.\n\nPerson's details:\n- Name: {{ $json['Your Name'] }}\n- Skill: {{ $json['Which skill do you want to master?'] }}\n- Profile (where they are + how serious): {{ $json['Where are you and how serious are you?'] }}\n\nThe profile string tells you both their current level and weekly time. Read it carefully and tailor the difficulty, the 30-day plan, and the daily habit to BOTH signals.\n\nBe specific and concrete everywhere - real tools, real drills, real resources, real numbers. No vague filler.\n\nFIRST, work out these numbers - you will paste them into the charts:\n1. currentLevelPercent: how far along the road to mastery they already are. \"Just starting\" ~5-10%, \"Some basics\" ~20-30%, \"Intermediate\" ~45-55%. Write as a percent string like 25%.\n2. Practice hours to reach each stage, realistic for this skill: hoursBeginner, hoursIntermediate, hoursAdvanced, hoursMaster. Convert each to a bar width % out of hoursMaster (barMaster = 100%). Write each as a percent string.\n3. Monthly income at three stages - incomeBeginner, incomeIntermediate, incomePro - as realistic rough figures. Convert each to a bar width % out of incomePro (incBarPro = 100%). Write each as a percent string.\n4. difficultyPercent: how hard this skill is to learn (easy ~30%, moderate ~55%, hard ~80%).\n5. demandPercent: how in-demand this skill is in the job/freelance market right now.\n6. weeksToJob: roughly how many weeks of consistent effort at their pace until they could do paid work at a basic level.\n\nEvery percent token in the template MUST become a real percentage string ending in % - never leave a [bracket] visible.\n\n<div style=\"max-width:600px;margin:0 auto;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;\">\n\n<div style=\"background:linear-gradient(135deg,#6C5CE7,#a29bfe);padding:28px 30px;border-radius:12px 12px 0 0;\">\n<p style=\"margin:0 0 4px;font-size:11px;color:rgba(255,255,255,0.6);letter-spacing:2px;font-weight:600;\">SKILL MASTERY BLUEPRINT</p>\n<p style=\"margin:0 0 14px;font-size:22px;color:#ffffff;font-weight:700;line-height:1.3;\">🎯 Master [Skill]</p>\n<p style=\"margin:0;\">\n<span style=\"background:rgba(255,255,255,0.2);padding:4px 12px;border-radius:20px;color:#fff;font-size:11px;font-weight:500;\">For [Name]</span>\n<span style=\"margin-left:6px;background:rgba(255,255,255,0.2);padding:4px 12px;border-radius:20px;color:#fff;font-size:11px;font-weight:500;\">Starting: [level]</span>\n</p>\n</div>\n\n<div style=\"background:#ffffff;padding:30px 30px 10px;border-left:1px solid #f0f0f0;border-right:1px solid #f0f0f0;color:#2d3436;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 8px;letter-spacing:1px;\">🌟 THE BIG PICTURE</h3>\n<p style=\"font-size:16px;color:#2d3436;line-height:1.6;margin:0 0 12px;font-weight:500;\">[One inspiring, honest sentence on what mastering this skill really means and why it is worth it.]</p>\n<p style=\"font-size:14px;color:#444;line-height:1.8;margin:0 0 24px;\">[2-3 sentences: a realistic view of the journey from their level to mastery and what the path looks like.]</p>\n\n<p style=\"font-size:12px;color:#888;font-weight:600;letter-spacing:1px;margin:0 0 8px;\">HOW FAR ALONG YOU ALREADY ARE</p>\n<div style=\"background:#eee;border-radius:8px;height:22px;margin:0 0 4px;\">\n<div style=\"background:linear-gradient(to right,#6C5CE7,#a29bfe);height:22px;border-radius:8px;width:[currentLevelPercent];text-align:right;\"><span style=\"color:#fff;font-size:11px;font-weight:700;line-height:22px;padding-right:8px;\">[currentLevelPercent]</span></div>\n</div>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 28px;\"><tr><td style=\"font-size:9px;color:#888;font-weight:700;text-align:left;\">START</td><td style=\"font-size:9px;color:#6C5CE7;font-weight:700;text-align:right;\">MASTERY</td></tr></table>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">📊 SKILL SNAPSHOT</h3>\n<p style=\"font-size:12px;color:#888;font-weight:600;margin:0 0 4px;\">LEARNING DIFFICULTY</p>\n<div style=\"background:#eee;border-radius:6px;height:14px;margin:0 0 12px;\"><div style=\"background:#E07856;height:14px;border-radius:6px;width:[difficultyPercent];\"></div></div>\n<p style=\"font-size:12px;color:#888;font-weight:600;margin:0 0 4px;\">MARKET DEMAND</p>\n<div style=\"background:#eee;border-radius:6px;height:14px;margin:0 0 14px;\"><div style=\"background:#00b894;height:14px;border-radius:6px;width:[demandPercent];\"></div></div>\n<div style=\"background:#F8F7FF;padding:12px 16px;border-radius:8px;margin:0 0 28px;\">\n<p style=\"font-size:13px;color:#2d3436;line-height:1.6;margin:0;\">⏱️ <strong>Time to first paid work:</strong> roughly [weeksToJob] weeks at your chosen pace.</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">🧩 WHAT THIS SKILL IS MADE OF</h3>\n<p style=\"font-size:14px;color:#444;line-height:1.8;margin:0 0 12px;\">[One sentence: mastery is not one thing - it is a stack of these core sub-skills.]</p>\n<div style=\"background:#F8F7FF;padding:16px 20px;border-radius:10px;margin:0 0 28px;\">\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">🔹 <strong>[Sub-skill 1]</strong> - [why it matters]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">🔹 <strong>[Sub-skill 2]</strong> - [why it matters]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">🔹 <strong>[Sub-skill 3]</strong> - [why it matters]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">🔹 <strong>[Sub-skill 4]</strong> - [why it matters]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0;\">🔹 <strong>[Sub-skill 5]</strong> - [why it matters]</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">🚀 HOW TO START - YOUR FIRST STEPS</h3>\n<div style=\"background:#F8F7FF;padding:16px 20px;border-radius:10px;margin:0 0 28px;\">\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">1️⃣ <strong>[First step]</strong> - [what to actually do]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">2️⃣ <strong>[Second step]</strong> - [what to actually do]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">3️⃣ <strong>[Third step]</strong> - [what to actually do]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0;\">4️⃣ <strong>[Fourth step]</strong> - [what to actually do]</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 6px;letter-spacing:1px;\">🪜 YOUR MASTERY PATH - 4 STAGES</h3>\n<p style=\"font-size:13px;color:#888;line-height:1.6;margin:0 0 14px;\">From total beginner to top-tier. Each stage builds on the last.</p>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin:0 0 16px;border-radius:8px;overflow:hidden;border:1px solid #eee;\">\n<tr style=\"background:#6C5CE7;\">\n<td style=\"padding:8px 10px;font-size:11px;color:#fff;font-weight:700;\">STAGE</td>\n<td style=\"padding:8px 10px;font-size:11px;color:#fff;font-weight:700;\">WHAT YOU LEARN &amp; CAN DO</td>\n</tr>\n<tr style=\"background:#F8F7FF;\">\n<td style=\"padding:10px;font-size:12px;color:#6C5CE7;font-weight:700;\">🟢 Beginner</td>\n<td style=\"padding:10px;font-size:12px;color:#444;line-height:1.6;\">[the foundations + what they can do by the end of this stage]</td>\n</tr>\n<tr style=\"background:#ffffff;\">\n<td style=\"padding:10px;font-size:12px;color:#6C5CE7;font-weight:700;\">🔵 Intermediate</td>\n<td style=\"padding:10px;font-size:12px;color:#444;line-height:1.6;\">[the next layer + what they can do by the end of this stage]</td>\n</tr>\n<tr style=\"background:#F8F7FF;\">\n<td style=\"padding:10px;font-size:12px;color:#6C5CE7;font-weight:700;\">🟣 Advanced</td>\n<td style=\"padding:10px;font-size:12px;color:#444;line-height:1.6;\">[professional-level skills + what they can do by the end of this stage]</td>\n</tr>\n<tr style=\"background:#ffffff;\">\n<td style=\"padding:10px;font-size:12px;color:#6C5CE7;font-weight:700;\">🏆 Master / Ninja</td>\n<td style=\"padding:10px;font-size:12px;color:#444;line-height:1.6;\">[the elite skills that separate the top 1% + what mastery looks like]</td>\n</tr>\n</table>\n<p style=\"font-size:12px;color:#888;font-weight:600;letter-spacing:1px;margin:0 0 8px;\">PRACTICE HOURS TO REACH EACH STAGE</p>\n<table width=\"100%\" cellpadding=\"4\" cellspacing=\"0\" style=\"margin:0 0 28px;\">\n<tr><td style=\"font-size:11px;color:#2d3436;font-weight:700;width:90px;\">🟢 Beginner</td><td><div style=\"background:#a29bfe;height:16px;border-radius:4px;width:[barBeginner];\"></div></td><td style=\"font-size:10px;color:#888;width:60px;text-align:right;\">[hoursBeginner] h</td></tr>\n<tr><td style=\"font-size:11px;color:#2d3436;font-weight:700;\">🔵 Intermediate</td><td><div style=\"background:#8e80ee;height:16px;border-radius:4px;width:[barIntermediate];\"></div></td><td style=\"font-size:10px;color:#888;text-align:right;\">[hoursIntermediate] h</td></tr>\n<tr><td style=\"font-size:11px;color:#2d3436;font-weight:700;\">🟣 Advanced</td><td><div style=\"background:#6C5CE7;height:16px;border-radius:4px;width:[barAdvanced];\"></div></td><td style=\"font-size:10px;color:#888;text-align:right;\">[hoursAdvanced] h</td></tr>\n<tr><td style=\"font-size:11px;color:#2d3436;font-weight:700;\">🏆 Master</td><td><div style=\"background:#4A3FB8;height:16px;border-radius:4px;width:[barMaster];\"></div></td><td style=\"font-size:10px;color:#888;text-align:right;\">[hoursMaster] h</td></tr>\n</table>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">📅 YOUR 30-DAY KICKSTART PLAN</h3>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin:0 0 28px;border-radius:8px;overflow:hidden;border:1px solid #eee;\">\n<tr style=\"background:#F8F7FF;\"><td style=\"padding:10px 12px;font-size:12px;color:#6C5CE7;font-weight:700;width:80px;\">Week 1</td><td style=\"padding:10px 12px;font-size:12px;color:#444;line-height:1.6;\">[concrete focus + a practice goal]</td></tr>\n<tr style=\"background:#ffffff;\"><td style=\"padding:10px 12px;font-size:12px;color:#6C5CE7;font-weight:700;\">Week 2</td><td style=\"padding:10px 12px;font-size:12px;color:#444;line-height:1.6;\">[concrete focus + a practice goal]</td></tr>\n<tr style=\"background:#F8F7FF;\"><td style=\"padding:10px 12px;font-size:12px;color:#6C5CE7;font-weight:700;\">Week 3</td><td style=\"padding:10px 12px;font-size:12px;color:#444;line-height:1.6;\">[concrete focus + a practice goal]</td></tr>\n<tr style=\"background:#ffffff;\"><td style=\"padding:10px 12px;font-size:12px;color:#6C5CE7;font-weight:700;\">Week 4</td><td style=\"padding:10px 12px;font-size:12px;color:#444;line-height:1.6;\">[concrete focus + a practice goal]</td></tr>\n</table>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">🛠️ YOUR STARTER TOOLKIT</h3>\n<p style=\"font-size:14px;color:#444;line-height:1.8;margin:0 0 12px;\">[One sentence on the basic setup, tools or kit a beginner needs - keep it low-cost and accessible.]</p>\n<div style=\"background:#F8F7FF;padding:16px 20px;border-radius:10px;margin:0 0 28px;\">\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">✅ <strong>[Tool/item 1]</strong> - [what it is for, free or paid]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">✅ <strong>[Tool/item 2]</strong> - [what it is for, free or paid]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0;\">✅ <strong>[Tool/item 3]</strong> - [what it is for, free or paid]</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">🧰 TEMPLATES &amp; FRAMEWORKS</h3>\n<div style=\"background:#F8F7FF;padding:16px 20px;border-radius:10px;margin:0 0 28px;\">\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">📋 <strong>[Template/framework 1]</strong> - [what it is and how to use it]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">📋 <strong>[Template/framework 2]</strong> - [what it is and how to use it]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0;\">📋 <strong>[Template/framework 3]</strong> - [what it is and how to use it]</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">🌀 DAILY PRACTICE HABIT</h3>\n<p style=\"font-size:14px;color:#444;line-height:1.8;margin:0 0 12px;\">[One sentence: the small daily habit that compounds into mastery, sized to their weekly time.]</p>\n<div style=\"background:#F8F7FF;border-left:3px solid #6C5CE7;padding:14px 18px;border-radius:0 8px 8px 0;margin:0 0 28px;\">\n<p style=\"font-size:13px;color:#2d3436;line-height:1.7;margin:0;\">🔁 <strong>Daily ritual:</strong> [a specific repeatable practice routine they can do most days].</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">🥷 NINJA TRICKS - GO FROM GOOD TO ELITE</h3>\n<p style=\"font-size:14px;color:#444;line-height:1.8;margin:0 0 12px;\">[One sentence: the insider edge that separates true experts from average practitioners.]</p>\n<div style=\"background:#2d3436;padding:18px 20px;border-radius:10px;margin:0 0 28px;\">\n<p style=\"font-size:14px;color:#ffffff;line-height:1.7;margin:0 0 8px;\">⚡ <strong>[Pro trick 1]</strong> - [the insider technique]</p>\n<p style=\"font-size:14px;color:#ffffff;line-height:1.7;margin:0 0 8px;\">⚡ <strong>[Pro trick 2]</strong> - [the insider technique]</p>\n<p style=\"font-size:14px;color:#ffffff;line-height:1.7;margin:0 0 8px;\">⚡ <strong>[Pro trick 3]</strong> - [the insider technique]</p>\n<p style=\"font-size:14px;color:#ffffff;line-height:1.7;margin:0;\">⚡ <strong>[Pro trick 4]</strong> - [the insider technique]</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">📚 BEST RESOURCES TO LEARN FROM</h3>\n<div style=\"background:#F8F7FF;padding:16px 20px;border-radius:10px;margin:0 0 28px;\">\n<p style=\"font-size:13px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">🎥 <strong>Watch:</strong> [specific channels, courses or video resources]</p>\n<p style=\"font-size:13px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">📖 <strong>Read:</strong> [specific books, blogs or documentation]</p>\n<p style=\"font-size:13px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">🛠️ <strong>Practice with:</strong> [specific tools, platforms or apps]</p>\n<p style=\"font-size:13px;color:#2d3436;line-height:1.7;margin:0;\">👥 <strong>Join:</strong> [specific communities, forums or groups]</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">🏅 PROVE YOU ARE GOOD - MILESTONES</h3>\n<p style=\"font-size:14px;color:#444;line-height:1.8;margin:0 0 12px;\">[One sentence: skill is invisible until you show it - these are the proof-points that signal real ability.]</p>\n<div style=\"background:#F8F7FF;padding:16px 20px;border-radius:10px;margin:0 0 28px;\">\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">🎖️ <strong>[Milestone 1]</strong> - [a concrete thing to build, win or complete]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">🎖️ <strong>[Milestone 2]</strong> - [a concrete thing to build, win or complete]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0;\">🎖️ <strong>[Milestone 3]</strong> - [a concrete thing to build, win or complete]</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">💼 WHERE YOU CAN USE THIS SKILL</h3>\n<p style=\"font-size:14px;color:#444;line-height:1.8;margin:0 0 12px;\">[2-3 sentences: the real-world places, roles, industries and situations where this skill is valuable.]</p>\n<div style=\"background:#F8F7FF;border-left:3px solid #6C5CE7;padding:14px 18px;border-radius:0 8px 8px 0;margin:0 0 28px;\">\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0;\">🎯 <strong>In demand for:</strong> [3-4 specific roles, jobs or use cases]</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">💰 HOW TO MAKE MONEY FROM IT</h3>\n<p style=\"font-size:14px;color:#444;line-height:1.8;margin:0 0 12px;\">[One sentence on earning potential and how soon a learner can realistically start.]</p>\n<p style=\"font-size:12px;color:#888;font-weight:600;letter-spacing:1px;margin:0 0 8px;\">TYPICAL MONTHLY EARNINGS AS YOU GROW</p>\n<table width=\"100%\" cellpadding=\"4\" cellspacing=\"0\" style=\"margin:0 0 16px;\">\n<tr><td style=\"font-size:11px;color:#2d3436;font-weight:700;width:90px;\">Beginner</td><td><div style=\"background:#a29bfe;height:18px;border-radius:4px;width:[incBarBeginner];\"></div></td><td style=\"font-size:10px;color:#888;width:80px;text-align:right;\">[incomeBeginner]</td></tr>\n<tr><td style=\"font-size:11px;color:#2d3436;font-weight:700;\">Intermediate</td><td><div style=\"background:#8e80ee;height:18px;border-radius:4px;width:[incBarIntermediate];\"></div></td><td style=\"font-size:10px;color:#888;text-align:right;\">[incomeIntermediate]</td></tr>\n<tr><td style=\"font-size:11px;color:#2d3436;font-weight:700;\">Pro / Expert</td><td><div style=\"background:#6C5CE7;height:18px;border-radius:4px;width:[incBarPro];\"></div></td><td style=\"font-size:10px;color:#888;text-align:right;\">[incomePro]</td></tr>\n</table>\n<div style=\"background:#F8F7FF;padding:16px 20px;border-radius:10px;margin:0 0 28px;\">\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">💵 <strong>[Earning path 1]</strong> - [how it works]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">💵 <strong>[Earning path 2]</strong> - [how it works]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0;\">💵 <strong>[Earning path 3]</strong> - [how it works]</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">🔗 SKILL STACKING - 10X YOUR VALUE</h3>\n<p style=\"font-size:14px;color:#444;line-height:1.8;margin:0 0 12px;\">[One sentence: pairing this skill with a few others makes you rare and far more valuable than mastering it alone.]</p>\n<div style=\"background:#F8F7FF;padding:16px 20px;border-radius:10px;margin:0 0 28px;\">\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">➕ <strong>[Complementary skill 1]</strong> - [why this combo is powerful]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0 0 8px;\">➕ <strong>[Complementary skill 2]</strong> - [why this combo is powerful]</p>\n<p style=\"font-size:14px;color:#2d3436;line-height:1.7;margin:0;\">➕ <strong>[Complementary skill 3]</strong> - [why this combo is powerful]</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">⚠️ MISTAKES TO AVOID</h3>\n<div style=\"background:#FFF7F1;border-left:3px solid #E07856;padding:14px 18px;border-radius:0 8px 8px 0;margin:0 0 28px;\">\n<p style=\"font-size:13px;color:#2d3436;line-height:1.7;margin:0 0 6px;\">🚫 [Common mistake 1 - and what to do instead]</p>\n<p style=\"font-size:13px;color:#2d3436;line-height:1.7;margin:0 0 6px;\">🚫 [Common mistake 2 - and what to do instead]</p>\n<p style=\"font-size:13px;color:#2d3436;line-height:1.7;margin:0;\">🚫 [Common mistake 3 - and what to do instead]</p>\n</div>\n\n<hr style=\"border:none;border-top:1px solid #f0f0f0;margin:0 0 24px;\">\n\n<h3 style=\"color:#6C5CE7;font-size:14px;margin:0 0 12px;letter-spacing:1px;\">🌟 YOUR FIRST 3 STEPS - START TODAY</h3>\n<div style=\"background:linear-gradient(135deg,#6C5CE7,#a29bfe);padding:18px 20px;border-radius:10px;margin:0 0 24px;\">\n<p style=\"font-size:14px;color:#ffffff;line-height:1.7;margin:0 0 8px;\">1️⃣ [One small, specific action they can do in the next hour]</p>\n<p style=\"font-size:14px;color:#ffffff;line-height:1.7;margin:0 0 8px;\">2️⃣ [A second small, specific action for this week]</p>\n<p style=\"font-size:14px;color:#ffffff;line-height:1.7;margin:0;\">3️⃣ [A third small, specific action for this week]</p>\n</div>\n\n<p style=\"font-size:13px;color:#2d3436;line-height:1.7;margin:0 0 10px;font-style:italic;text-align:center;\">[One short, warm, motivating closing line addressed to the person by name.]</p>\n\n</div>\n\n<div style=\"background:#FAFAFA;padding:18px 30px;border-radius:0 0 12px 12px;border:1px solid #f0f0f0;border-top:none;text-align:center;\">\n<p style=\"margin:0 0 2px;font-size:11px;color:#b2bec3;\">Prepared for [Name]</p>\n<p style=\"margin:0;font-size:11px;color:#ddd;\">Skill Mastery Blueprint ✨ Powered by Gemini AI + n8n</p>\n</div>\n\n</div>\n\nRULES:\n- A cooking blueprint should be as rich as a coding one. Equal depth for any skill.\n- Income figures are realistic rough ranges, never promises.\n- Be warm and motivating, but honest about the real effort required.\n- Replace EVERY [placeholder] with real content - no brackets visible in the output.\n\nOUTPUT:\n- ONLY raw HTML. Nothing before or after. First character <, last character >. No markdown, no code fences, no commentary.\nOne paste-time gotcha to watch for.\nWhen pasting into the Gemini node's Content field, make sure the field is in expression mode. If it's plain text, the AI sees {{ $json['Your Name'] }} as literal characters and writes a generic roadmap instead of a personalised one. If your test output looks generic - switch the field to expression mode and re-test.\nWhat makes this prompt special.\nThis isn't a question - it's the complete email design handed to the AI as a template, with instructions to research the skill, calculate real numbers (how far along they are, hours to each mastery stage, their income curve), and paste those numbers straight into the bar charts. This is called template-driven prompting. It's how you get consistent, design-grade output every single time. Take a screenshot of this prompt - you'll use this pattern for the rest of your life."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "f6ca7219-ccc1-481a-9493-6820353b802e",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "SYfqbLngxMgZMQ16",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Your Email'] }}",
        "subject": "={{ $('On form submission').item.json['Your Name'] }}, your Skill Mastery Blueprint is ready 🎯",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "646f0740-b278-485c-a294-50ed990af004",
      "name": "Send a message",
      "webhookId": "8d5cd92b-6970-4599-8c5c-608ff610b217",
      "credentials": {
        "gmailOAuth2": {
          "id": "4deJ0FsJ3rnI0iMk",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3ddae0ad-14ed-456b-9ae4-d33c9f9d374b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3da4aa938db170e6ba7a028570d9c9069fa7f43bc53480b507bc25ca4b3372c5"
  },
  "id": "tC2TkwWvSjfRRo3j",
  "tags": []
}